.main-404 {
    height: 60vh;
    padding-top: 50px;
    position: relative;
    text-align: center;

    @media (min-width : 768px) {
        text-align: left;
        padding-left: 50px;
    }
}

.renne-404 {
    position: absolute;
    z-index: 1;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
        width: 300px;
    }

    @media (min-width : 992px) {
        top: 59%;
        left: 65%;

        img {
            width: 700px;
        }
    }
}

#footer-404 {
    margin: 100px 0 1rem 0;

    @media (min-width : 768px) {
        margin: 200px 0 1rem 0;
    }
}