nav {

    img {
        width: 4rem;
    }

    .navbar-brand {
        font-family: $font-family-display;
        font-size: 40px;
    }

    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        text-align: end;

        .btn-primary:hover {
            background-color: $white;
            border-color: $white;
        }
    }
}