@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'custom';

body {
    a {
        color: $white;
    }

    p {
        color: $white;
    }
}

// NAVBAR
nav {

    img {
        width: 4rem;
    }

    .navbar-brand {
        font-family: $font-family-display;
        font-size: 40px;
    }

    .nav-link {
        color: $white;
        white-space: nowrap;
    }

    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
        text-align: end;
    }
}

// MAIN HOME
.main-home {

    h1 {
        font-size: 50px;
        padding: 300px 0 20px 100px;
    }

    .icon-example {
        width: 4%;
        fill: $white;
    }

    p {
        padding-left: 150px;
    }

    .link-main-home {
        padding: 30px 0 30px 140px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .link-example {
            padding-left: 3rem;
            margin-left: 3rem;
        }
    }

    @media (max-width : 768px) {
        h1 {
            font-size: 1.5rem;
            padding: 75px 0 20px 20px;
        }

        p {
            font-size: 0.8rem;
            padding-left: 25px;
        }

        .container-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-items: center;

            .link-main-home {
                padding: 30px 0 0 0;
                display: flex;
                flex-direction: column;

                a {
                    padding-bottom: 30px;
                }

                button {
                    font-size: 0.9rem;
                }

                .link-example {
                    padding-left: 0;
                    margin-left: 0;
                    text-align: center;
                }
            }

            svg {
                width: 30px;
                height: 30px;

                .number-anim {
                    transform: scale(1);
                    /* ou ajuster selon les besoins */
                }
            }
        }
    }
}

// BACKGROUND HOME
.bg-home {
    background-image: url(/assets/images/fond_home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width : 768px) {
        background-image: url(/assets/images/fond_home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        width: 100vw;
        height: 100vh;
    }
}

// LOGIN
.container-form-style {
    background-color: #749ec1;
    border-radius: 10px;
    border: 1.5px solid $dark;
    padding: 40px;
    margin-top: 70px;
    width: 80%;

    @media (min-width: 768px) {
        padding: 50px;
        margin-top: 200px;
        width: 30%;
    }
}

// REGISTER
.register-form-style {
    background-color: #749ec1;
    border-radius: 10px;
    border: 1.5px solid $dark;
    padding: 40px;
    margin-top: 20px;
    width: 80%;

    @media (min-width: 768px) {
        padding: 50px;
        margin-top: 40px;
        width: 30%;
    }
}

// PAGE CALENDRIER EXEMPLE
.bg-example {
    background-image: url(/assets/images/fond_blue-X-flat-lay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width : 768px) {
        background-image: url(/assets/images/fond_blue-X-flat-lay.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        width: 100vw;
        height: 100vh;
    }
}

h2 {
    font-family: $font-family-display;
    color: $dark;
    font-size: 3rem;
    text-align: center;
}

.title-example {
    margin-top: 100px;
}

.container-numbers {
    margin: 0 400px;

    .col-num-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .num-box {
        border: 1.5px solid $black;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        background-color: rgba($dark, 0.3);
        font-family: $font-family-display;
        color: $white;
        font-size: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// FOOTER
footer {
    @media (max-width: 768px) {
        p {
            font-size: 0.7rem;
        }

        a {
            font-size: 0.7rem;
        }
    }
}

// TEST MEMORY - Retourner les cartes
#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 30px auto;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.card-content {
    opacity: 0;
}

.card.flip .card-content {
    opacity: 1;
}


// PAGE : Créer un calendrier
#title-createCalendar {
    font-family: $font-family-display;
}

#calendar-board {
    justify-content: center;
    margin: 30px auto;

    .num-box {
        width: 90px;
        height: 90px;
        border: 1.5px solid $black;
        border-radius: 10px;
        background-color: rgba($dark, 0.3);
        font-family: $font-family-display;
        color: $white;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem;

        &.flip {
            background-color: black;
        }
    }
}