@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap');
@import 'custom';
@import 'components';
@import 'navbar';
@import 'footer';
@import 'home';
@import 'form';


// REGISTER
.register-form-style {
    background-color: #749ec1;
    border-radius: 10px;
    border: 1.5px solid $dark;
    padding: 40px;
    margin-top: 20px;
    width: 80%;

    @media (min-width: 768px) {
        padding: 50px;
        margin-top: 40px;
        width: 30%;
    }
}

// PAGE CALENDRIER EXEMPLE
.bg-example {
    background-image: url(/assets/images/fond_blue-X-flat-lay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width : 768px) {
        background-image: url(/assets/images/fond_blue-X-flat-lay.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        width: 100vw;
        height: 100vh;
    }
}

h2 {
    font-family: $font-family-display;
    color: $dark;
    font-size: 3rem;
    text-align: center;
    margin-top: 100px;
}

.container-numbers {
    margin: 0 400px;

    .col-num-box {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .num-box {
        border: 1.5px solid $black;
        border-radius: 10px;
        width: 80px;
        height: 80px;
        background-color: rgba($dark, 0.3);
        font-family: $font-family-display;
        color: $white;
        font-size: 5rem;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// TEST MEMORY - Retourner les cartes
#game-board {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 30px auto;
}