<header>
	<!-- NAVBAR -->
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div
			class="container-fluid d-flex justify-content-between align-items-center">

			<!-- Logo -->
			<div class="d-flex align-items-center">
				<a class="navbar-brand" href="/"><img src="/build/images/home/logo-desktop.png" alt="arbre de Noel en logo"></a>
				<a class="navbar-brand" href="/">Osez Noël</a>
			</div>

			<!-- Menu burger -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Menu de navigation -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto gap-4">
					<li class="nav-item my-auto">
						<a class="nav-link text-white text-nowrap" href="/">Accueil</a>
					</li>
					<li class="nav-item my-auto">
						<a class="nav-link text-white text-nowrap" href="/formCalendar">Créer un calendrier</a>
					</li>
					<li class="nav-item">
						<a href="/register">
							<button type="button" class="btn btn-outline-light">S'inscrire</button>
						</a>
					</li>
					<li class="nav-item">
						<a href="/login">
							<button type="button" class="btn btn-primary text-nowrap">Se connecter</button>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
