.bg-home {
    background-image: url(/assets/images/home/bg-home.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p, a {
    font-family: 'Nova Slim', sans-serif;
    color: white;
}